label {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0em;
}

.form-container {
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  google-map {
    display: block;
    margin-bottom: 20px;
  }