<form [formGroup]="loginForm">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Mail</label>
      <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">contraseña</label>
      <input formControlName="contraseña" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" (click)="login()" class="btn btn-primary">Iniciar Sesion</button>
  </form>
