<html>
<div class="center">
    <h1>Perfil de Usuario</h1>
</div>
<div>
    <div class="card">
        <h3 class="card-title">Nombre: {{nombre}}</h3>
        <div class="card-body">
            <h5>Valoración: {{valoracion}}</h5> <!-- Valoración por defecto '-'. Poner cantidad de votos? -->
            <h5>Cantidad de valoraciones: {{cantidadValoraciones}}</h5>
            <h5>DNI: {{dni}}</h5>
            <h5>Fecha de Nacimiento: {{fechaDeNacimiento | date:'dd/MM/yyyy'}}</h5>
            <h5>Mail: {{mail}}</h5>
            <h5>Sucursal más cercana: {{sucursal?.address}}</h5>
        </div>
    </div>

    <div>
        <button type="button" class="btn btn-outline-primary" (click)="navigate('modificar-perfil')">Modificar Perfil</button>
        <button type="button" class="btn btn-outline-primary" (click)="navigate('cambiar-contra-perfil')">Cambiar contraseña</button>
    </div>


    <div>
        <button type="button" class="btn btn-outline-primary" (click)="navigate('crear-publicacion')">Agregar Publicacion</button>
    </div>

    <div class="card">
        <h2 class="card-title">Publicaciones</h2>
        <div class="card-body">
            <app-listar-publicaciones [data]="publicaciones"></app-listar-publicaciones>
        </div>
    </div>


</div>
</html>
