<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
</head>
<body>
    <div class="center">
        <h1>Perfil de Usuario</h1>
    </div>

    <div class="card">
        <h3 class="card-title">Nombre: {{ user.name }}</h3>
        <div class="card-body">
            <h5>Valoración: {{ user.rating }}</h5> <!-- Valoración por defecto '-' si no está disponible. -->
            <h5>Cantidad de valoraciones: {{ user.total_ratings }}</h5>
        </div>
    </div>

    <div class="card">
        <h2 class="card-title">Publicaciones</h2>
        <div class="card-body">
            <!-- Reusable publication list component -->
            <app-listar-publicaciones [data]="publicaciones"></app-listar-publicaciones>
        </div>
    </div>
</body>
</html>

