<div class="container mt-4">
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="searchTerm"
            (input)="onSearchTermChange()" />
    </div>
    <div>
        <select class="form-select" (change)="selectCategory($event)">
            <option value="" selected>Filtrar por producto</option>
            <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </select>
    </div>
    <!-- Agrega el mensaje de advertencia aquí -->
    <div *ngIf="noResultsFound" class="alert alert-warning" role="alert">
        No hay publicaciones que cumplan con la categoría "{{ selectedCategory }}"
    </div>
    <div class="d-flex justify-content-between mb-3">
        <button class="btn btn-primary" (click)="setSort('price')">
            Ordenar por precio
            <span *ngIf="sortField === 'price'">{{ sortOrder === 'asc' ? '▲' : '▼' }}</span>
        </button>
        <button class="btn btn-primary" (click)="setSort('title')">
            Ordenar por título
            <span *ngIf="sortField === 'title'">{{ sortOrder === 'asc' ? '▲' : '▼' }}</span>
        </button>
    </div>
    <app-listar-publicaciones [data]="filteredData"></app-listar-publicaciones>
</div>