<html>
<div class="form-container w-25">
    <h1>Modificar Perfil</h1>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">
        Nombre
      </label>
      <input type="text" class="form-control" id="name" formControlName="name">
      <div>
        <small class="text-danger" *ngIf="hasErrors('name', 'required')" >El nombre es requerido</small>
      </div>
    </div>

    <div>
      <label for="username">
        DNI
      </label>
      <input type="string" id="username" class="form-control" formControlName="username" readonly>
    </div>

    <div>
      <label for="email">
        Email
      </label>
      <input type="email" id="email" class="form-control" formControlName="email" placeholder="nombre@ejemplo.com" readonly>
    </div>

    <div>
      <label for="date">
        Fecha De Nacimiento
      </label>
      <input type="date" id="date" class="form-control" formControlName="date" readonly>
    </div>
    
    <div class="form-group">
      <label for="suc">Seleccionar sucursal más cercana:</label>
      <select id="suc" formControlName="suc" class="form-control">
        <option *ngFor="let sucursal of sucursales" [value]="sucursal.id">{{ sucursal.address }}</option>
      </select>
      <div>
        <small class="text-danger" *ngIf="hasErrors('suc', 'required')" >La sucursal es requerida</small>
      </div>
    </div>

    <div>
      <label class="form-label" for="mailing">Mailing</label>
      <input type="checkbox" id="mailing" class="form-check-input" formControlName="mailing">
    </div>

    <br/>

    <div>
      <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid" [disabled]="!userForm.dirty">Guardar Cambios</button>
    </div>

  </form>
  </div>
</html>

