<html>
<div class="center">
    <h1>Perfil de Usuario</h1>
</div>

    <div class="card">
        <h3 class="card-title">Nombre: {{nombre}}</h3>        
        <h3 class="card-title">Apellido: {{apellido}}</h3>
        <img src="{{fotoDePerfil}}" class="card-img-top" alt="fotoDePerfil">
        <div class="card-body">
            <h5>Valoración: {{valoracion}}</h5> <!-- Valoración por defecto '-'. Poner cantidad de votos? -->
        </div>
    </div>

<div class="card">
    <h2 class="card-title">Publicaciones</h2>
    <div class="card-body">
        <!-- Lista de publicaciones -->
    </div>
</div>
</html>
