<html>
<div class="center">
    <h1>Perfil de Usuario</h1>
</div>

    <div class="card">
        <h3 class="card-title">Nombre: {{user.name}}</h3>
        <div class="card-body">
            <h5>Valoración: {{user.rating}}</h5> <!-- Valoración por defecto '-'. Poner cantidad de votos? -->
        </div>
    </div>

<div class="card">
    <h2 class="card-title">Publicaciones</h2>
    <div class="card-body">
        <!-- Lista de publicaciones -->
        <ul>
            <li *ngFor="let item of publicaciones" class="fila justified-content-center">
                <a href="http://localhost:4200/publicacion/{{item.id}}">
                    <img src="{{ getPhotos(item.id) }}" class="image-thumbnail" width="100" height="100">
                    <div class="info">
                        <span class="title">{{ item.title }}</span>
                        <span class="price"> ${{ item.price }}</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
</html>
