<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid d-flex">
    <!-- Wrap the img inside an anchor tag -->
    <a class="navbar-brand" href="#">
      <img src="assets/logos/Solo_Logo.png" alt="Fedeteria Logo" style="max-height: 40px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <ng-container *ngIf="isAuthenticated$ | async">
          <li class="nav-item">
            <a class="nav-link" routerLink="ver-mi-perfil">Ver Mi Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="crear-publicacion">Crear publicación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="cambiar-contra">Restablecer contraseña</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="crear-sucursal">Crear sucursal</a>
          </li>
        </ng-container>
        <ng-container *ngIf="(isEmployee$ | async)">
          <li class="nav-item">
            <a class="nav-link" routerLink="tasar-publicaciones">Tasar publicaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="ad-email">Ad-email</a>
          </li>

        </ng-container>
        <ng-container *ngIf="!(isAuthenticated$ | async)">
        <li  class="nav-item">
          <a class="nav-link" routerLink="registrar-usuario">Registrar usuario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="registrar-empleado">Registrar empleado</a>
        </li>
        </ng-container>
      </ul>
      <ul class="navbar-nav ms-auto">
        <ng-container *ngIf="isAuthenticated$ | async">
        <li class="nav-item justify-content-end">
          <a class="nav-link" (click)="onLogout()">Cerrar Sesión</a>
        </li>
        </ng-container>

        <ng-container *ngIf="!(isAuthenticated$ | async)">
        <li class="nav-item justify-content-end">
          <a class="nav-link" routerLink="login">Inicio Sesion</a>
        </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
