<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid d-flex">
    <a class="navbar-brand" href="#">
      <img src="assets/logos/Solo_Logo.png" alt="Fedeteria Logo" style="max-height: 40px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                                                                           aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <ng-container *ngIf="(isAdmin$ | async)">
          <li class="nav-item">
            <a class="nav-link" routerLink="estadisticas">Estadisticas</a>
          </li>
        </ng-container>
        <ng-container *ngIf="isAuthenticated$ | async">
          <ng-container *ngIf="(!(isAdmin$ | async) && (isEmployee$ | async))">
            <li class="nav-item" *ngIf="(sucEmpl$ | async) as sucEmpl">
              <a class="nav-link" [routerLink]="['/sucursal', sucEmpl]">Mi sucursal</a>
            </li>
          </ng-container>
          <li class="nav-item">
            <a class="nav-link" routerLink="ver-mi-perfil">Mi Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="crear-publicacion">Crear publicación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="sucursales">Sucursales</a>
          </li>
          <!-- Trueques Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="truequesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Trueques
            </a>
            <ul class="dropdown-menu" aria-labelledby="truequesDropdown">
              <li><a class="dropdown-item" routerLink="trueques-recibidos">Mis trueques</a></li>
              <li *ngIf="(isEmployee$ | async)"><a class="dropdown-item" routerLink="trueques-empleado">Trueques Confirmados</a></li>
            </ul>
          </li>
        </ng-container>
        <ng-container *ngIf="(isAdmin$ | async)">
          <li class="nav-item">
            <a class="nav-link" routerLink="crear-sucursal">Crear sucursal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="registrar-empleado">Registrar empleado</a>
          </li>
        </ng-container>
        <ng-container *ngIf="(isEmployee$ | async)">
          <li class="nav-item">
            <a class="nav-link" routerLink="tasar-publicaciones">Tasar</a>
          </li>
          <!-- Promociones Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="promocionesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Promociones
            </a>
            <ul class="dropdown-menu" aria-labelledby="promocionesDropdown">
              <li><a class="dropdown-item" routerLink="ad-email">Ad-email</a></li>
              <li><a class="dropdown-item" routerLink="enviar-descuento">Enviar descuento</a></li>
              <li><a class="dropdown-item" routerLink="verificar-codigo">Verificar código</a></li>
              <ng-container *ngIf="(isAdmin$ | async)">
              <li><a class="dropdown-item" routerLink="modificar-banners">Modificar banners</a></li>
            </ng-container>
            </ul>
          </li>
        </ng-container>
        <ng-container *ngIf="!(isAuthenticated$ | async)">
          <li class="nav-item">
            <a class="nav-link" routerLink="registrar-usuario">Registrar usuario</a>
          </li>
        </ng-container>
      </ul>
      <ul class="navbar-nav ms-auto">
        <ng-container *ngIf="isAuthenticated$ | async">
          <li class="nav-item justify-content-end">
            <a class="nav-link" (click)="onLogout()">Cerrar Sesión</a>
        </ng-container>

        <ng-container *ngIf="!(isAuthenticated$ | async)">
          <li class="nav-item justify-content-end">
            <a class="nav-link" routerLink="login">Inicio Sesion</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
