<html lang="es">
<div class="form-container w-25">
    <h1>Registro de Venta</h1>
    <p>Por favor, ingrese los datos de la venta</p>
    <form [formGroup]="ventaForm" (ngSubmit)="cargarVenta()">
        <div>
            <label for="producto">Código de Producto</label>
            <input  id="producto" class="form-control" formControlName="producto">
            <div>
                <small class="text-danger" *ngIf="hasErrors('producto', 'required')">El producto es requerido</small>
            </div>
        </div>

        <div>
            <label for="cantidad">Cantidad de Unidades</label>
            <input  id="cantidad" class="form-control" formControlName="cantidad">
            <div>
                <small class="text-danger" *ngIf="hasErrors('cantidad', 'required')">La cantidad es requerida</small>
            </div>
        </div>

        <div>
            <label for="monto">Monto</label>
            <input id="monto" class="form-control" formControlName="monto">
            <div>
                <small class="text-danger" *ngIf="hasErrors('monto', 'required')">El monto es requerido</small>
            </div>
        </div>

        <p *ngIf="registroError" class="text-danger">{{registroError}}</p>
        <button type="submit" class="btn btn-primary" [disabled]="ventaForm.invalid">Registrar</button>
    </form>
</div>
</html>
