<html lang="es">
<div class="form-container w-25">
    <h1>Registro de Venta</h1>
    <p>Por favor, ingrese los datos de la venta</p>
    <form [formGroup]="ventaForm" (ngSubmit)="cargarVenta()">
        <div>
            <label for="product">Código de Producto</label>
            <input  id="product" class="form-control" formControlName="product">
            <div>
                <small class="text-danger" *ngIf="hasErrors('product', 'required')">El producto es requerido</small>
            </div>
        </div>

        <div>
            <label for="quantity">Cantidad de Unidades</label>
            <input  id="quantity" class="form-control" formControlName="quantity">
            <div>
                <small class="text-danger" *ngIf="hasErrors('quantity', 'required')">La cantidad es requerida</small>
            </div>
        </div>

        <div>
            <label for="price">Monto</label>
            <input id="price" class="form-control" formControlName="price">
            <div>
                <small class="text-danger" *ngIf="hasErrors('price', 'required')">El monto es requerido</small>
            </div>
        </div>

        <p *ngIf="registroError" class="text-danger">{{registroError}}</p>
        <button type="submit" class="btn btn-primary" [disabled]="ventaForm.invalid">Registrar</button>
    </form>
</div>
</html>
