<html>
<div class="form-container w-25">
    <h1>Modificar Perfil</h1>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">
        Nombre
      </label>
      <input type="text" class="form-control" id="name" formControlName="name">
      <div>
        <small class="text-danger" *ngIf="hasErrors('name', 'required')" >El nombre es requerido</small>
      </div>
    </div>

    <div>
      <label for="username">
        DNI
      </label>
      <input type="string" id="username" class="form-control" formControlName="username" readonly>
    </div>

    <div>
      <label for="email">
        Email
      </label>
      <input type="email" id="email" class="form-control" formControlName="email" placeholder="nombre@ejemplo.com" readonly>
    </div>

    <div>
      <label for="date">
        Fecha De Nacimiento
      </label>
      <input type="date" id="date" class="form-control" formControlName="date" readonly>
    </div>

    <div>
      <label for="suc">
        Sucursal Mas Cercana
      </label>
      <input type="text" class="form-control" id="suc" formControlName="suc">
      <div>
        <small class="text-danger" *ngIf="hasErrors('suc', 'required')" >La sucursal es requerida</small>
      </div>
    </div>

    <br/>
<!--
    <div *ngIf="contraVisible">
      <label for="passwordActual">Contraseña actual</label>
      <input type="password" id="passwordActual" class="form-control" formControlName="passwordActual">
      <div>
        <small class="text-danger" *ngIf="hasErrors('passwordActual', 'required')">La contraseña anterior es requerida</small>
        <small class="text-danger" *ngIf="hasErrors('passwordActual', 'minlength')">La contraseña debe tener 6 o más caracteres</small>
        <small class="text-danger" *ngIf="hasErrors('passwordActual', 'pattern') ">La contraseña debe tener al menos 1 símbolo.</small>      
      </div>

      <label for="passwordNueva">Nueva contraseña</label>
      <input type="password" id="passwordNueva" class="form-control" formControlName="passwordNueva">
      <div>
        <small class="text-danger" *ngIf="hasErrors('passwordNueva', 'required')">La contraseña es requerida</small>
        <small class="text-danger" *ngIf="hasErrors('passwordNueva', 'minlength')">La contraseña debe tener 6 o más caracteres</small>
        <small class="text-danger" *ngIf="hasErrors('passwordNueva', 'pattern') ">La nueva contraseña debe tener al menos 1 símbolo.</small>
        <small class="text-danger" *ngIf="sonIguales('passwordNueva', 'passwordActual') ">La nueva contraseña debe ser distinta a la anterior.</small>
      </div>
      <div>
        <button type="button" class="btn btn-danger" (click)="ocultarForm()">Cancelar</button>
      </div>
    </div>
-->

<!--
    <div>
      <label class="form-label" for="mailing">Mailing</label>
      <input type="checkbox" id="mailing" class="form-check-input" formControlName="mailing">
    </div>
-->

    <div>
      <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid" [disabled]="!userForm.dirty">Guardar Cambios</button>
    </div>

  </form>
  </div>
</html>

