<div>
  <h1>Estadisticas</h1>
      <p>Usuarios totales: {{ statistics.total_users }}</p>
      <p>Publicaciones totales: {{ statistics.total_publications }}</p>
      <b>Trueques totales : {{ statistics.total_trade_proposals }}</b>
      <p>Ventas totales: {{ statistics.total_sales }}</p>
      <b>Ingresos totales: {{ statistics.total_revenue }}</b>
      <p>Trueques completados: {{ statistics.completed_percentage }}%</p>
      <p>Trueques rechazados: {{ statistics.rejected_percentage }}%</p>
  <div>
    <h2>Ventas por precio</h2>
    <img [src]="'data:image/png;base64,' + statistics.sales_plot" alt="Ventas por precio">
  </div>
  <div>
    <h2>Distribucion de estado de trueques</h2>
    <img [src]="'data:image/png;base64,' + statistics.status_plot" alt="Distribucion de estado de trueques">
  </div>
  <div>
    <h2>Porcentaje de ingresos por sucursal</h2>
    <img [src]="'data:image/png;base64,' + statistics.revenue_plot" alt="Porcentaje de ingresos por sucursal">
  </div>
    <div>
    <h2>Porcentaje de trueques concretados con y sin ventas</h2>
    <img [src]="'data:image/png;base64,' + statistics.concreted_sales_plot" alt="Porcentaje de trueques concretados con y sin ventas">
  </div>
</div>
