html{
    background: #153448;
    height: 100%;
    width: 100%;

    /* Set the height to match that of the viewport. */
    height: 100vh;

    /* Set the width to match that of the viewport. */
    width: 100vw;

    /* Remove any browser-default margins. */
    margin: 0;
}

.container {
  background-color: #DFD0B8;  
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
}

.carousel-container {
    flex: 1; /* Take up remaining space */
    margin-right: 20px; /* Add space between carousel and text */
}

.carousel-text {
    margin-left: 20px; /* Add space between carousel and text */
}

h2{
    margin-left: 10%;
    font-family: sans-serif;
    color:#153448;
}
h4{
    font-family: sans-serif;
    color:#153448;
}


/* Ajuste de tamaño de imagenes*/
.c-img {
    max-width: 450px;
    height: 450px;
    object-fit: cover;

}
/* Cambio de color boton < y > */
.slide-control{

    filter: invert(100%);

}

.carousel{
    margin-left: 10%;
    max-height: 450px;
    max-width: 450px;
    
}

a {
    border-bottom: 1px solid;
    border-bottom-color: green;
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
  a:link {
    color: #265301;
  }
  
  a:visited {
    color: #437a16;
  }
  
  a:focus {
    border-bottom: 1px solid;
    background: #bae498;
  }
  
  a:hover {
    border-bottom: 1px solid;
    background: #cdfeaa;
  }
  
  a:active {
    background: #265301;
    color: #cdfeaa;
  }
  