<div>
  <form [formGroup]="checkoutForm">
    <label for="weeks">Selecciona el número de semanas para destacar tu publicación:</label>
    <select id="weeks" formControlName="weeks">
      <option value="">Selecciona una opción</option>
      <option value="1">1 semana - $1000</option>
      <option value="2">2 semanas - $2000</option>
      <option value="3">3 semanas - $3000</option>
    </select>
  </form>

  <div>
    <p>Total a pagar: ${{ totalAmount }}</p>
    <button [disabled]="!checkoutForm.valid" (click)="iniciarPago()">Pagar con Mercado Pago</button>
  </div>
</div>
