<html>
<div class="form-container mb-3 w-25">
  <h1>Editar publicación</h1>
  <p>Por favor, ingrese los datos del producto</p>
<form [formGroup]="prodForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
  <div class="form-outline mb-3 " data-mdb-input-init>
    <label class="form-label" for="title">
      Nombre
    </label>
    <input type="text" id="title" class="form-control form-control-lg" [formControlName]="'title'" formControlName>
    <div class="mb-3">
    <small class="text-danger" *ngIf="hasErrors('title', 'required')" >El titulo es obligatorio</small>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="desc">
      Descripción
    </label>
    <textarea rows=3 type="text" id="desc" class="form-control" [formControlName]="'desc'"></textarea>
    <div class="mb-3">
    <small class="text-danger" *ngIf="hasErrors('desc', 'required')" >La descripción es obligatoria</small>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="category">
      Categoria
    </label>
    <input class="form-control" list="catOptions" id="category" [formControlName]="'category'" readonly>
<datalist id="catOptions">
  <option value="Serruchos">
  <option value="Powertools">
  <option value="cat3">
  <option value="otra cat">
  <option value="test">
</datalist>
    <div class="mb-3">
    <small class="text-danger" *ngIf="hasErrors('category', 'required')" >Una categoria es obligatoria</small>
    </div>
  </div>

  <!--- add a checkbox -->
  <div class="mb-3">
    <label class="form-label" for="is_paused">
      ¿Esta pausada?
    </label>
    <input type="checkbox" id="is_paused" class="form-check-input" [formControlName]="'is_paused'">
  </div>

  <div class="mb-3">
    <label class="form-label" for="photos">
      Fotos
    </label>
    <div class="mb-3">
    <input type="file" accept="image/jpg, image/jpeg, image/png" class="form-control-file" id="photos" formControlName="photos" (change)="onFileSelected($event)" lang="es" multiple/>
    <small class="text-danger" *ngIf="hasErrors('photos', 'required')" >Una foto es obligatoria</small>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="desired">
      Productos deseados
    </label>
    <input type="text" id="desired" class="form-control" [formControlName]="'desired'">
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="prodForm.invalid">Crear</button>
</form>
</div>
</html>
