<h2>Nombre publicacion</h2>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item  active c-item">
        <img class="d-block w-100  c-img" src="https://fastly.picsum.photos/id/514/600/600.jpg?hmac=qvCEM-X653n5FWZpkxT1ykQAOU2oAIDLivslQankUoU" alt="First slide">
      </div>
      <div class="carousel-item c-item">
        <img class="d-block w-100 c-img" src="https://fastly.picsum.photos/id/989/600/600.jpg?hmac=y2H3p_6IUICrOB52uoOVsgWYL5lsMZaaS4mQoZ-y4oQ" alt="Second slide">
      </div>
      <div class="carousel-item c-item">
        <img class="d-block w-100 c-img" src="https://fastly.picsum.photos/id/506/600/600.jpg?hmac=cRpJ2iYeLN77-3VobbIvI_tc_-L9VHwDzQ9C5yBFOu8" alt="Third slide">
      </div>
    </div>
    <button class="carousel-control-prev slide-control" type="button"  href="#carouselExampleIndicators" type="button"  data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next slide-control" href="#carouselExampleIndicators" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>



<p>Descripcion de la publicacion</p>